<div>
    <table>
        <tbody id="">

        <tr>
            <td class="">
                <a href="" title="有新回复 - 新窗口打开" target="_blank" one-link-mark="yes">
                    <img src="https://bbs.9you.com/static/image/common/folder_new.gif">
                </a>
            </td>
            <th class="new">
                <a href="{{ url_for('article',article_id=post.id) }}" >{{post.title}}</a>
            </th>
            <td class="by">
                <cite>
                    <a href="{{ url_for('user',username=post.author.username) }}">{{ post.author.username }}</a>
                </cite>
                <em><span>{{ post.timestamp}}</span></em>
            </td>
            <td class="num">
                <a href="" class="" >{{ post.reply }}   /</a>
                <em><span>{{ post.count }}</span></em>
            </td>

        </tr>
        </tbody>

    </table>
    <hr>
</div>